default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  encoding: utf-8

development:
  <<: *default
  database: backflow
  host: 127.0.0.1
  port: 5433
  username: postgres
  password: 

test:
  <<: *default
  database: backflow_test
  host: 127.0.0.1
  port: 5433
  username: postgres
  password: 

production:
  <<: *default
  database: backflow_production
  host: 127.0.0.1
  port: 5433
  username: postgres
  password: <%= ENV["BACKFLOW_DATABASE_PASSWORD"] %>
